<%- include('./partials/header') %>
<div class="hero-image">
<div class="container-lg centered-card text-center border border-success p-2 mb-2 rounded-5" id="landing">
<h1><%=title%></h1>
<a href="/auth/google"><h3>Log In To Continue!</h3></a>
</div>
</div>
<%- include('./partials/footer') %>
