body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center; /* Vertically center items */
  padding: 10px; /* Optional padding to create space around the items */
}
.centered-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}